# ===========================================
#  VARIÁVEIS DO DOCKER (docker-compose)
# ===========================================
# Usadas para subir o container do PostgreSQL.

# Usuário do banco
POSTGRES_USER=postgres

# Senha do banco (troque em produção!)
POSTGRES_PASSWORD=postgres

# Nome do banco de dados
POSTGRES_DB=luizavideomaker

# Porta exposta do Postgres na máquina host
POSTGRES_PORT=5432
